body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('pyke.jpg'); /* Set background image */
    background-color: rgba(44,12,27, 0.7);
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center; /* Center the image */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.form-group input, .login-button {
    font-family: Roboto, sans-serif; 
    color: white; 
}

.form-group label {
    color: #000; 
    font-family: Roboto, sans-serif; 
    margin-bottom: 5px; 
}

.form-group input {
    background: linear-gradient(202deg, #3d1c25 14%, #a11826 72%);
    border: solid gray 2px;
    border-radius: 20px; 
    padding: 10px;
    margin: 10px 0;
    width: calc(100% - 22px); 
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.login-button {
    background: linear-gradient(202deg, #3d1c25 14%, #a11826 72%);
    border: solid #5f111c 2px;
    padding: 10px 30px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    cursor: pointer;
    transition: 585ms;
    transform: translateY(0);
}

.login-button:hover {
    padding: 10px 34px;
    background: linear-gradient(202deg, #3d1c25 14%, #a11826 72%);
    color: gold;
    border: solid 2px #ab2828;
}

footer {
    background-color: rgba(44, 12, 27, 0.9);
    color: gold;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer a {
    color: gold;
    text-decoration: none;
}

footer a:hover {
    color: #FFD700;
    text-decoration: underline;
}

header {
    background-color: rgba(44, 12, 27, 0.9);
    color: gold;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header button {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(202deg, #3d1c25 14%, #a11826 72%);
    padding: 10px 30px;
    border: solid #5f111c 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 50px;
    transition : 585ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

header button:hover {
    transition : 585ms;
    padding: 10px 34px;
    transform : translateY(-0px);
    background: linear-gradient(202deg, #3d1c25 14%, #a11826 72%);
    color: #fafafa;
    border: solid 2px #ab2828;
}

header button:last-child {
    margin-right: 50px; 
}


.hidden {
    display: none;
}

.register-prompt {
    text-align: center;
    margin-top: 30px; 
}

.login-prompt {
    text-align: center;
    margin-top: 30px; 
}

.form-group.invalid input {
    border-color: red;
}

.login-prompt.invalid {
    color: red;
}

.sidebar {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    position: fixed;
    left: 0;
    top: 60px; 
    width: 60px; 
    bottom: 55px; 
    background: rgba(112,128,144, 0.7);
    transition: width 0.5s ease; 
    z-index: 5;
    overflow: hidden;
}


.sidebar:hover {
    width: 170px; 
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-buttons {
    display: none; 
    position: absolute; 
    top: 50px; 
    left: 10px; 
}

.sidebar-icons{
    position: absolute;
    top: 50px; 
    left: 10px; 
    margin-top: 10px;
}

.sidebar-icon{
    width: 80%; 
    text-align: center; 
}

.sidebar:hover .sidebar-buttons {
    display: block; 
}
.sidebar:hover .sidebar-icons {
    display: none;
}

.sidebar-button {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(202deg, #3d1c25 14%, #a11826 72%);
    padding: 10px 30px;
    border: solid #5f111c 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 50px;
    transition : 585ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-top: 10px; 
}

.sidebar-button:hover {
    transition : 585ms;
    padding: 10px 34px;
    transform : translateY(-0px);
    background: linear-gradient(202deg, #3d1c25 14%, #a11826 72%);
    color: #fafafa;
    border: solid 2px #ab2828;
}
