body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(44,12,27); 
    overflow-x: hidden; /* Prevent horizontal scrolling */
    background-image: url('../P50_Images/eve.jpg'); /* Path to your image */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    overflow-x: hidden;
    background-attachment: fixed;
    
}

header {
    position: fixed;
    width: 100%;
    background-color: rgba(44,12,27, 0.7); 
    transition: background-color 0.3s ease; 
    z-index: 1000; 
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

header button {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(202deg, #3d1c25 14%, #a11826 72%);
    padding: 10px 30px;
    border: solid #5f111c 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 50px;
    transition : 585ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

header button:hover {
    transition : 585ms;
    padding: 10px 34px;
    transform : translateY(-0px);
    background: linear-gradient(202deg, #3d1c25 14%, #a11826 72%);
    color: #fafafa;
    border: solid 2px #ab2828;
}

header button:last-child {
    margin-right: 50px; 
}


.content-wrapper {
    padding-top: 70px; /* Space for header */
    display: flex;
    justify-content: center;
    
}

.champion-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px; /* Adjust as needed */
    margin-left: 500px;
}

.champion {
    text-align: center;
    cursor: pointer;
}

.champion img {
    width: 320px;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
}

.champion p {
    color: #fff;
    margin-top: 8px;
}

.champion:hover {
    transform: scale(1.25);
    transition: transform 0.4s ease-in-out;
}

.sidebar {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    position: fixed;
    left: 0;
    top: 60px; 
    width: 60px; 
    bottom: 55px; 
    background: rgba(112,128,144, 0.7);
    transition: width 0.5s ease; 
    z-index: 5;
    overflow: hidden;
}

.sidebar:hover {
    width: 170px; 
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-buttons {
    display: none; 
    position: absolute; 
    top: 50px; 
    left: 10px; 
}

.sidebar-icons{
    position: absolute; 
    top: 50px; 
    left: 10px; 
    margin-top: 10px;
}

.sidebar-icon{
    width: 80%; 
    text-align: center; 
}

.sidebar:hover .sidebar-buttons {
    display: block; 
}
.sidebar:hover .sidebar-icons {
    display: none;
}

.sidebar-button {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(202deg, #3d1c25 14%, #a11826 72%);
    padding: 10px 30px;
    border: solid #5f111c 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 50px;
    transition : 585ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-top: 10px; 
}

.sidebar-button:hover {
    transition : 585ms;
    padding: 10px 34px;
    transform : translateY(-0px);
    background: linear-gradient(202deg, #3d1c25 14%, #a11826 72%);
    color: #fafafa;
    border: solid 2px #ab2828;
}

/* Sidebar and footer styles omitted for brevity, add as needed */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(44,12,27, 0.9);
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    z-index: 1000;
}

footer a {
    color: gold;
    text-decoration: none;
}

footer a:hover {
    color: #FFD700;
    text-decoration: underline;
}

#searchBoxContainer {
    display: flex;
    justify-content: center; /* Centers the search bar horizontally */
    padding: 20px 0; /* Adds some space above and below the search bar */
}

#searchBox {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #2c0c1b;
    border-radius: 20px;
    outline: none;
    width: 300px; /* Adjust based on your design */
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent or adjust as needed */
    color: #2c0c1b; /* Text color */
    margin-top: 200px;
}

.modal {
    display: block; /* Keep modal hidden initially */
    position: fixed; /* Use fixed positioning */
    z-index: 1000; /* Ensure modal is on top of other content */
    left: 0;
    top: 0;
    width: 100%; /* Full viewport width */
    height: 100%; /* Full viewport height */
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
    display: flex; /* Enable flexbox for centering contents */
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Center vertically */
}

.modal-content {
    background-color: #fefefe;
    margin: auto; /* Helps with centering */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Adjust based on your preference */
    max-height: 70vh; /* Max height to ensure it doesn't overflow the viewport */
    overflow: auto; /* Enable scroll within the modal content if overflow occurs */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    position: relative; /* Position relative to its normal position */
    margin-top: 200px;
    animation: modalPopUp 0.5s ease-out; /* Apply the animation */
}


.close-button {
    color: #aaa;
    position: absolute; /* Position the close button absolutely within the modal-content */
    top: 0;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
}

@keyframes modalPopUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}



