body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(44,12,27); 
    overflow: hidden; 
}

header {
    position: fixed;
    width: 100%;
    background-color: rgba(44,12,27, 0.7); 
    transition: background-color 0.3s ease; 
    z-index: 1000; 
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

header button {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(202deg, #3d1c25 14%, #a11826 72%);
    padding: 10px 30px;
    border: solid #5f111c 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 50px;
    transition : 585ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

header button:hover {
    transition : 585ms;
    padding: 10px 34px;
    transform : translateY(-0px);
    background: linear-gradient(202deg, #3d1c25 14%, #a11826 72%);
    color: #fafafa;
    border: solid 2px #ab2828;
}

header button:last-child {
    margin-right: 50px; 
}

.content-wrapper {
    background-image: url('../P50_Images/tf_bg.jpg'); 
    background-size: cover; 
    background-position: center top; 
    min-height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-top: 60px; 
    box-sizing: border-box;
    position: relative; 
    z-index: 1; 
}

#searchBoxContainer {
    position: relative;
    top: -10cm; 
}

#searchBox {
    padding: 10px 140px 10px 20px; 
    font-size: 16px;
    border: 2px solid #2c0c1b;
    border-width: 4px;
    border-radius: 20px;
    outline: none;
    flex-grow: 1;
    text-align: left; 
    box-sizing: border-box;
    z-index: 2;
}

#searchButton {
    position: absolute;
    top: 53%; 
    right: 13px; 
    transform: translateY(-50%); 
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

#searchButton img {
    width: 24px; 
    height: 24px;
}

.recommendation {
    border: 2px solid #2c0c1b; 
    border-radius: 20px; 
    position: absolute;
    z-index: 1000;
    width: calc(100% - 4px); 
    background-color: white;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
    margin-top: 2px; 
    overflow: hidden;
}

.recommendation div {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.recommendation div:hover {
    background-color: #3d1c25; 
    color: white;
    padding: 8px 12px; 
}

.recommendation div:first-child {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.recommendation div:last-child {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.recommendation div:not(:last-child) {
    border-bottom: none; 
}

.hidden {
    display: none; 
}

.autocomplete-suggestion {
    padding: 10px 140px 10px 20px; 
    position: absolute;
    top: 74%; 
    left: 1.2%; 
    transform: translateY(-50%); 
    font-size: 16px; 
    line-height: normal; 
    height: 40px; 
    color: transparent; 
    pointer-events: none; 
    border: none; 
    background-color: transparent; 
    overflow: hidden; 
    white-space: nowrap; 
    z-index: 1;
    
}
.autocomplete-suggestion .user-input {
    visibility: hidden;
}

.autocomplete-suggestion .suggestion-part {

    color: #ccc;
}

footer {
    width: 100%;
    background-color: rgba(44,12,27, 0.9); 
    padding: 10px 20px;
    color: #fff; 
    text-align: center;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    z-index: 10; 
}
footer a {
    color: gold; 
    text-decoration: none; 
}

footer a:hover {
    color: #FFD700; 
    text-decoration: underline; 
}

.sidebar {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    position: fixed;
    left: 0;
    top: 60px; 
    width: 60px; 
    bottom: 55px; 
    background: rgba(112,128,144, 0.7);
    transition: width 0.5s ease; 
    z-index: 5;
    overflow: hidden;
}

.sidebar:hover {
    width: 170px; 
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-buttons {
    display: none; 
    position: absolute; 
    top: 50px; 
    left: 10px; 
}

.sidebar-icons{
    position: absolute; 
    top: 50px; 
    left: 10px; 
    margin-top: 10px;
}

.sidebar-icon{
    width: 80%; 
    text-align: center; 
}

.sidebar:hover .sidebar-buttons {
    display: block; 
}
.sidebar:hover .sidebar-icons {
    display: none;
}

.sidebar-button {
    font-family: Roboto, sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #fff;
    background: linear-gradient(202deg, #3d1c25 14%, #a11826 72%);
    padding: 10px 30px;
    border: solid #5f111c 2px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    border-radius: 50px;
    transition : 585ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-top: 10px; 
}

.sidebar-button:hover {
    transition : 585ms;
    padding: 10px 34px;
    transform : translateY(-0px);
    background: linear-gradient(202deg, #3d1c25 14%, #a11826 72%);
    color: #fafafa;
    border: solid 2px #ab2828;
}

